body {
    	background-color: #000;
	font-family: 'Muli', sans-serif;

}
#wholeBody {
    
    	border: 0px solid black;    
    	height: 90%;
	min-width:700px;
    	width: auto !important;
    	width:700px;
	
}
#mainHeaderDiv {
	
    	width: 100%;
    	height: 200px;
    	border: 0px solid #000;
	float: top;
    	background-color: transparent;
    	margin: auto;	
   
}
#headerSocialMedia{
	
	width: 100%;
    	height: 30px;
    	border: 1px #c0c0c0 solid;
	border-radius: 20px 20px 0px 0px;
    	float: right;
    	background-color: #FFFFFF;
	position: relative;
	margin: auto;
	text-align: right;
}

#headerSocialMedia ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    
}

#headerSocialMedia li {
    	float: right;
	border-left: 1px solid #c0c0c0;
}

#headerSocialMedia li a {
    display: block;
    color: #000000;
    text-align: center;
    padding: 3px 10px;
    text-decoration: none;
}


#headerSocialMedia li a:hover {
    	background-color: #0FBE7C;
	color: #ffffff;
}

#headerSocialMedia .active {
    background-color: #0FBE7C;
}

#headerLogo{
	width: 19.9%;
    	height: 135px;
    	border-left: 1px solid #c0c0c0;
    	float: left;
	align: middle;
    	background-color: #ffffff;
	margin: auto;
	
}
#logo-img{
	text-align: center;
	margin: auto;
	
}

#headerBanner{
	width: 79.9%;
    	height: 135px;
    	border-right: 1px solid #c0c0c0;
	float:right;
    	background-color: #ffffff;
	position: relative;
	text-align: center;
		
	
}
#titlePhrase{
	display: inline-block;
  	margin: 0 auto;
	width: 468px;
	height: 60px;
	background-color: #C85858;
	left: 50%;
	align-items: center;
}
#headerMenu1{
	border-radius: 0px 0px 20px 20px;
    	height: 30px;
	width: 100%;
	border: 1px #c0c0c0 solid;
	
    	float: left;
    	background-color: #FFFFFF;
}
#headerMenu1 ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    
}

#headerMenu1 li {
    	float: left;
	border-right: 1px solid #c0c0c0;
}

#headerMenu1 li a {
    display: block;
    color: #000000;
    text-align: center;
    padding: 5px 15px;
    text-decoration: none;
}


#headerMenu1 li a:hover {
    	background-color: #0FBE7C;
	color: #ffffff;
}

#headerMenu1 .active {
    background-color: #0FBE7C;
}

#bodyDiv{
	 
	width: 100%;  	
    	border: 0px solid #c0c0c0;
    	background-color: #FFFFFF;
	float: left;
	margin: auto;
	margin-top: 5px;
	overflow: auto;
  	text-overflow: ellipsis; // This is where the magic happens
}
#contentDiv{
	background-color: #ff0000;
	width: 50%;
	float: center;
	overflow: auto;
  	text-overflow: ellipsis; // This is where the magic happens
}
#pageTitle{
display: block;
    font-size: 2em;
    margin-top:0;
    margin-bottom: 0.67em;
    margin-left: 0;
    margin-right: 0;
    font-weight: bold;	
}
#rightSideMenu{
	border-radius: 20px 20px 20px 20px;
	width: 300px;
	
	border: 1px solid #c0c0c0;
    	float: right;
    	background-color: #FFFFFF;
	position: relative;
	margin: 0;
}
#rSideMenuSector1{
	overflow: auto;
	text-align: center;
	width: 100%;
	
	
}
#rSideMenuSector2{
	text-align: center;
	width: 100%;
	overflow: auto;
	border-top: 1px #c0c0c0 solid;
}
#rSideMenuSector3{
	text-align: center;
	width: 100%;
	overflow: auto;
	border-top: 1px #c0c0c0 solid;
}
#rSideMenuSector4{
	text-align: center;
	width: 100%;
	overflow: auto;
	border-top: 1px #c0c0c0 solid;
}
#rSideMenuSector5{
	text-align: center;
	width: 100%;
	overflow: auto;
	border-top: 1px #c0c0c0 solid;
}
#rSideMenuSector6{
	text-align: center;
	width: 100%;
	overflow: auto;
	border-top: 1px #c0c0c0 solid;
}
#rSideMenuSector7{
	text-align: center;
	width: 100%;
	overflow: auto;
	border-top: 1px #c0c0c0 solid;
}
#contentDiv{
	
	min-width: 500px;
	
	background-color: 00ff00;
	display: inline-block;
  	margin: 0 auto;
	float: center;
	overflow: auto;
}
#bottomDiv{
	
    	background-color: #c0c0c0;
	width: 100%;
	height: 60px;
	border-top: 1px #000000 solid;
	border-radius: 15px 15px 0px 0px;	
	position:absolute;
   	bottom:0;
	
	
	

}
#linksMenu {
	list-style-type: none;
	float: center;
	
}


#linksMenu ul {
    list-style-type: none;
    margin: 0px;
    padding: 0;
    
    
}

#linksMenu li a {
    display: block;
    color: #000;
    padding: 3px 0px;
    text-decoration: none;
}


#linksMenu li a:hover {
    background-color: #0FBE7C;
    color: white;
}
#linksMenu .active {
    background-color: #0FBE7C;
    color: white;
}


